* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.highlighted {
  font-weight: bold;
  color: #BF89ED;
  cursor: default;
}

body {
  background: ;
  color: #34495E;
  width: 100%;
  margin: auto;
}

.header {
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 10px;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.resume .heading {
  background: #BF89ED6B;
  text-align: center;
  padding: 10px;
}

.resume .heading .name {
  font-size: 60px;
  font-weight: 400;
}

.resume .heading .title {
  font-size: 24px;
  letter-spacing: 5px;
}

.resume .main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

.resume .main .skills {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.resume .main .skills .buzzy {
  display: flex;
  flex-flow: row wrap;
}

.resume .main .skills .buzzy div {
  width: 135px;
}

.resume .main .skills .buzzy div span {
  font-size: 14px;
}

.resume .main .hobbies {
  padding-top: 20px;
}

.resume .main .hobbies a {
  text-decoration: none;
  color: inherit;
}

.resume .main .hobbies span, .resume .main .hobbies a {
  display: block;
  padding-bottom: 10px;
}

.resume .main .sidebar {
  display: flex;
  flex-direction: column;
  background: ;
  padding: 20px;
  max-width: 250px;
}

.resume .main .sidebar .portrait {
  height: 250px;
  width: 250px;
  padding-bottom: 20px;
}

.resume .main .sidebar .contact {
  padding-bottom: 20px;
}

.resume .main .sidebar .contact .methods {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.resume .main .sidebar .contact .methods .method {
  display: flex;
  align-items: center;
  padding: 10px;
}

.resume .main .sidebar .contact .methods .method i {
  margin-right: 20px;
}

.resume .main .degrees {
  padding-top: 20px;
  padding-bottom: 20px;
}

.resume .main .degrees .degree {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resume .main .degrees .degree img {
  margin-right: 19px;
  margin-left: 6px;
  height: 25px;
}

.resume .main .degrees .degree span {
  display: block;
}

.resume .main .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 2;
  background: ;
  padding: 20px;
}

.resume .main .content .experience {
  padding-bottom: 20px;
}

.resume .main .content .experience .job {
  padding-bottom: 20px;
}

.resume .main .content .experience .job .title {
  font-size: 24px;
}

.resume .main .content .experience .job .description .company.team {
  font-size: 14px;
}

.resume .main .content .experience .job .description .from.to {
  font-size: 14px;
}